    <section id="contact" class="contact section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <p>Si quieres comunicarte conmigo para hablar sobre proyectos, colaboraciones o simplemente compartir ideas, puedes escribirme por correo o redes. Siempre estoy abierto a aprender cosas nuevas y seguir mejorando.</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4 g-lg-5">
          <div class="col-lg-5">
            <div class="info-box" data-aos="fade-up" data-aos-delay="200">
              <h3>Informacion</h3>
              <p>Si deseas ponerte en contacto conmigo, puedes escribirme por correo o a través de mis redes. Estoy disponible para colaboraciones, proyectos o cualquier consulta relacionada con programación.</p>

              <div class="info-item" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-geo-alt"></i>
                </div>
                <div class="content">
                  <h4>Ubicacion</h4>
                  <p>Colombia</p>
                  <p>La ceja-Antioquia</p>
                </div>
              </div>

              <div class="info-item" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-telephone"></i>
                </div>
                <div class="content">
                  <h4>Numero de celular</h4>
                  <p>+57 305 480 5942</p>
                </div>
              </div>

              <div class="info-item" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-envelope"></i>
                </div>
                <div class="content">
                  <h4>Correo</h4>
                  <p>cristobal014656@gmail.com</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="contact-form" data-aos="fade-up" data-aos-delay="300">
              <h3>Contactate</h3>

              <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">

                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Tu nombre" required="">
                  </div>

                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Tu correo" required="">
                  </div>

                  <div class="col-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required=""></textarea>
                  </div>

                  <div class="col-12 text-center">
                    <div class="loading">Cargando</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Tu mensaje se ha enviado. Gracias!</div>

                    <button type="submit" class="btn">Enviar mensaje</button>
                  </div>

                </div>
              </form>

            </div>
          </div>

        </div>

      </div>

    </section>