 <section id="hero" class="hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="hero-content">
              <h1 data-aos="fade-up" data-aos-delay="200">Cristobal Ocampo</h1>
              <p data-aos="fade-up" data-aos-delay="400">Soy una persona responsable, creativa y con muchas ganas de seguir aprendiendo. Me gusta trabajar en equipo, asumir nuevos retos y mejorar constantemente mis habilidades. Me esfuerzo por dar siempre lo mejor de mí en cada proyecto y aprender de cada experiencia.</p>
              <div class="hero-actions" data-aos="fade-up" data-aos-delay="500">
                <a href="contact" class="btn btn-outline">Contacto</a>
              </div>
              <div class="social-links" data-aos="fade-up" data-aos-delay="600">
                <a href="https://www.facebook.com/cristobal.jaramillo.561582/" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://github.com/Cris32r" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/cristoj_32r/" target="_blank"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="hero-image" data-aos="zoom-in" data-aos-delay="300">
              <div class="image-wrapper">
                <img src="assets/img/profile/profile-img.jpg" alt="Imagen cristobal" class="img-fluid">
                <div class="floating-elements">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
 
    </section>
